---
import Layout from "../layouts/Layout.astro";
import HomeSection from "../components/HomeSection.astro";
import { getHomeSections } from "../utils/sanity";
import { PortableText } from "astro-portabletext";
import { urlFor } from "../utils/image";

const homeSections = await getHomeSections();

const heroSection = homeSections.shift();
---

<Layout title="Ben Stephens">
	<div class="introduction">
		<h1><span class="lighter">Web</span> Developer</h1>
		<p>Hi, I'm Ben, a Brighton based Web Developer.</p>
		<p>
			I specialise in building fast, accessible, SEO-friendly and
			user-friendly websites & applications.
		</p>
	</div>
	<section class="hero-section">
		<div class="container">
			<div class="left">
				<h2>
					{heroSection.title}
				</h2>
				<PortableText value={heroSection.body} />
				<a href={heroSection.slug.current} class="no-underline">
					<button>
						{heroSection.buttonText}
					</button>
				</a>
			</div>
			<img src={urlFor(heroSection.image).width(800).url()} >
		</div>
	</section>
	<div class="home-sections">
		<div class="container">
			{homeSections.map((section) => <HomeSection section={section} />)}
		</div>
	</div>
</Layout>

<style lang="scss">
	.introduction {
		max-width: 800px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: auto;
		margin-bottom: 4rem;
		margin-top: 3rem;

		h1 {
			font-size: 60px;
			font-weight: 400;
			letter-spacing: -5px;
			margin-bottom: 2rem;

			.lighter {
				font-weight: 300;
			}
		}

		p {
			font-size: 24px;
			margin: 0.5rem;
		}

		button {
			margin-top: 1.5rem;
			background-color: var(--accent);
			color: var(--secondary);
		}
	}
	
	.container {
		max-width: var(--content-width);
		margin: auto;
		padding: 2rem;
	}

	.hero-section {
		background: var(--accent-light);
		width: 100vw;
		margin-bottom: 3rem;

		h2 {
			font-size: 40px;
			margin-bottom: 1rem;
		}

		.left {
			display: flex;
			flex-direction: column;
		}

		a {
			margin-top: auto;
		}

		button {
			color: var(--secondary);
			background-color: var(--accent);
		}

		.container {
			display: flex;
			justify-content: space-between;
			gap: 2rem;
		}

		img {
			aspect-ratio: 5/3;
			object-fit: cover;
			max-height: 400px;
		}
	}

	.home-sections {
		.container {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 2rem;
		}
	}
</style>
