---
import Layout from "../layouts/Layout.astro";
import HomeSection from "../components/HomeSection.astro";
import { getHomeSections } from "../utils/sanity";
import { PortableText } from "astro-portabletext";
import { urlFor } from "../utils/image";

const homeSections = await getHomeSections();

const heroSection = homeSections.shift();
---

<Layout title="Ben Stephens">
	<div class="introduction">
		<h1><span class="lighter">Web</span> Developer</h1>
		<div>
			<p>Hi, I'm Ben, a Brighton based Web Developer.</p>
			<p>
				I specialise in building fast, accessible, SEO-friendly and
				user-friendly websites & applications.
			</p>
		</div>
	</div>
	<section class="hero-section">
		<div class="container">
			<div class="left">
				<h2>
					{heroSection.title}
				</h2>
				<div>
					<PortableText value={heroSection.body} />
				</div>
				<a href={heroSection.slug.current} class="no-underline">
					<button>
						{heroSection.buttonText}
					</button>
				</a>
			</div>
			<div class="right">
				<img
					src={urlFor(heroSection.image)
						.width(1200)
						.auto("format")
						.url()}
					alt="Hero Image"
				/>
			</div>
		</div>
	</section>
	<div class="home-sections">
		<div class="container">
			{homeSections.map((section) => <HomeSection section={section} />)}
		</div>
	</div>
</Layout>

<style lang="scss">
	.introduction {
		max-width: 800px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: auto;
		margin-bottom: 4rem;
		padding: 0 2rem;

		h1 {
			margin-bottom: 1rem;
		}

		@media (min-width: 650px) {
			padding: 0;

			p {
				font-size: 24px;
				margin: 0.5rem;
			}
		}

		button {
			margin-top: 1.5rem;
			background-color: var(--accent);
			color: white;
		}
	}

	.container {
		max-width: var(--content-width);
		margin: auto;
		padding: 2rem;
	}

	.hero-section {
		background: var(--accent-light);
		margin-bottom: 3rem;

		h2 {
			font-size: 40px;
		}

		.left {
			display: flex;
			flex-direction: column;

			@media (max-width: 900px) {
				grid-template-columns: 1fr;
				align-items: center;
				text-align: center;
			}
		}

		.right {
			width: 100%;
			display: flex;
			justify-content: center;
		}

		a {
			margin-top: auto;
		}

		button {
			color: white;
			background-color: var(--accent);
		}

		.container {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 2rem;

			@media (max-width: 900px) {
				grid-template-columns: 1fr;
			}
		}

		img {
			aspect-ratio: 5/4;
			object-fit: cover;
			max-height: 400px;

			@media (max-width: 900px) {
				max-height: 300px;
				aspect-ratio: 5/3;
				max-width: 100%;
			}
		}
	}

	.home-sections {
		.container {
			display: flex;
			gap: 2rem;

			@media (max-width: 900px) {
				flex-wrap: wrap;
			}
		}
	}
</style>
