---
import { urlFor } from "../utils/image";
import { PortableText } from "astro-portabletext";

const { section } = Astro.props;
---

<section class="home-section">
    <div>
        <h2>
            <a href={section.slug.current} class="no-underline">
                {section.title}
            </a>
        </h2>
        <PortableText value={section.body} />
    </div>
    <a href={section.slug.current} class="no-underline section-link">
        <button>
            {section.buttonText}
        </button>
    </a>
</section>

<style lang="scss">
    .home-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        background-color: var(--accent-light);
        padding: 2rem;

        a {
            width: fit-content;
        }

        .section-link {
            margin-left: auto;
        }

        button {
            margin-left: auto;
            background-color: var(--accent);
            color: var(--secondary);
        }
    }
</style>
