---
import Layout from "../../layouts/Layout.astro";
import { getProjects, getProjectTypes } from "../../utils/sanity";
import ProjectList from "../../components/ProjectList.svelte";
import { urlFor } from "../../utils/image";


let projectTypes = await getProjectTypes();   

projectTypes = projectTypes.sort((a, b) => a.sortOrder - b.sortOrder);
---

<Layout title="Projects">
    <div class="projects">
        {projectTypes.map((projectType, i) => (
            <div>
                <div class="project-title">
                    <h2>{projectType.type}</h2>
                    {projectType?.icon && <img src={urlFor(projectType.icon).height(200).url()} alt={projectType.type} />}
                </div>
                <p class="project-description">{projectType.description}</p>
                <ProjectList projects={projectType.projects} featured={projectType.featured} listIndex={i}/>
            </div>
        ))}
    </div>
</Layout>

<style lang="scss">
    .projects {
        max-width: var(--content-width);
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 6rem;
        padding: 0 2rem;
        margin-top: 4rem;

        @media (max-width: 650px) {
            gap: 2rem;
            padding: 0 1rem;
            margin-top: 2rem;
        }
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 0.25rem;
        font-weight: 400;
        width: fit-content;

        @media (max-width: 650px) {
            font-size: 1.5rem;
        }
    }

    .project-description {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.1rem;
    }

    .project-title {
        border-bottom: 2px solid var(--accent);
        width: fit-content;
        display: flex;
        gap: 0.8rem;
        align-items: center;

        img {
            height: 25px;
            padding-right: 0.5rem;
        }
    }
</style>
