---
import Layout from "../../layouts/Layout.astro";
import { getProjects, getProjectTypes } from "../../utils/sanity";
import ProjectList from "../../components/ProjectList.svelte";
import { urlFor } from "../../utils/image";


let projectTypes = await getProjectTypes();   

projectTypes = projectTypes.sort((a, b) => a.sortOrder - b.sortOrder);
---

<Layout title="Projects">
    <div class="projects">
        <h1><span class="lighter">My</span> Projects</h1>
        {projectTypes.map((projectType) => (
            <div>
                <div class="project-title">
                    <h2>{projectType.type}</h2>
                    {projectType?.icon && <img src={urlFor(projectType.icon).height(200).url()} alt={projectType.type} />}
                </div>
                <p>{projectType.description}</p>
                <ProjectList projects={projectType.projects} />
            </div>
        ))}
    </div>
</Layout>

<style lang="scss">
    .projects {
        max-width: var(--content-width);
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding: 0 2rem;
    }

    h1 {
        text-align: center;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 1.8rem;
        font-weight: 300;
        padding-bottom: 2px;
        width: fit-content;
    }

    p {
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }

    .project-title {
        border-bottom: 2px solid var(--accent);
        width: fit-content;
        display: flex;
        gap: 0.8rem;
        align-items: center;

        img {
            height: 25px;
            padding-right: 0.5rem;
        }
    }
</style>
